@import url(‘https://fonts.googleapis.com/css2?family=Open+Sans&display=swap’);

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.28em;
}

body{
    background: #f5f6fa;
}
/* sidebar glo */
.wrapper .sidebar{
    background: #d9d9d9;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
/* partie profil */
.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}
/* menu item */
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid  #d9d9d9;
    color:#33001A;
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #33001A;
    width: 30px;
    display: inline-block;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #d9d9d9;
	background:#33001A;
    border-right: 2px solid rgb(5, 68, 104);
}
.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #d9d9d9;
}
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

/* Ajoutez une icône en utilisant Font Awesome */
.wrapper .sidebar ul li a .icon {
    color: #33001A;
    width: 30px;
    display: inline-block;
    /* Utilisez la classe d'icône de Font Awesome */
    font-family: 'Font Awesome 5 Free'; /* Assurez-vous que la police est chargée correctement */
}

/****************************************************/
.container {
   
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 9em;
    text-align: left;
    background-color:  #d9d9d9;
    font-size: 20px;
}

.grid-container {
    margin-left:13em ;
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    grid-gap: 20px; /* Espacement entre les éléments */
    font-size: 20px;
}

.bottom-container {
    grid-column: 1 / -1; /* L'étend sur toutes les colonnes */
    margin-top: 30px; /* Espacement par rapport aux conteneurs supérieurs */
    text-align: center;
    margin-left: 15em;
}


/* page user admin */




.container_user{
    width:50%; /* Largeur du conteneur */
    margin: 0 auto; /* Centrer le conteneur horizontalement */
    margin-top: 2em ; /* Marge en haut du conteneur */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d9d9d9;
    margin-top: 2em;
}

th, td {
    border: 1px solid #d9d9d9;
    padding: 8px;
    text-align: center;
    font-size: 20px; /* Taille de police plus petite */
}

th {
    background-color: #d9d9d9;
    
  
}

input{
    border: none;
    text-align: center;
    font-size: 13px;
    width: 150px;
    background-color: #d9d9d9;
    
}

button{
    background-color: #d9d9d9;
    border: none    ;
}

.dashboard{
    text-align: center;
}