:root {
    --grey-light: #f3f3f3;
    --grey: #d9d9d9;
    --grey-dark: #272727;
    --primary-color: #33001a;
}

/* COLORS */

.grey-light {
    color: var(--grey-light) !important;
}

.grey {
    color: var(--grey) !important;
}

.grey-dark {
    color: var(--grey-dark) !important;
}

.primary-color {
    color: var(--primary-color) !important;
}

.bg-grey-light {
    background-color: var(--grey-light) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-grey-dark {
    background-color: var(--grey-dark) !important;
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

/* SIDEBAR */

.links-size {
  font-size: 1.4em;
}

.navbar-logo {
  height: 40px;
  width: auto;
}

.nav-link:hover {
  background-color: var(--primary-color) !important;
}

.nav-link:hover div, .nav-link:hover span {
  color: white !important;
}

.nav-link.active {
  color: var(--grey-light) !important;
  background-color: var(--primary-color) !important;
}

/* HEADER */

.ms-search-bar {
    margin-right: 0;
}

@media (min-width: 768px) {
    .ms-search-bar {
        margin-right: 25vw;
    }
}

@media (min-width: 1200px) {
    .ms-search-bar {
        margin-right: 16.667vw;
    }
}

/* ROUNDED */

.rounded-4 {
    border-radius: 0.6rem !important;
}

.rounded-5 {
    border-radius: 1rem !important;
}

.min-h-for-footer {
    min-height: calc(100vh - 244px);
}

@media (min-width: 768px) {
    .min-h-for-footer {
        min-height: calc(100vh - 190px);
    }
}

.footer {
    align-items: center;
    height: 100px;
}

/* CONNEXION INSCRIPTION */

.login-active {
    border-bottom: 6px solid var(--primary-color);
}

.border-focus-bot {
    outline: none;
}

.ps-input-svg {
    padding-left: 2rem !important;
}

.btn-primary {
    color: white;
    background-color: var(--primary-color);
    border-color: black;
    border-radius: 25px;
}

@media (min-width: 1200px) {
    .w-xl-50 {
        width: 50% !important;
    }
}

/* LISTE IMPRESSIONS */

.mx-content-imp {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px) {
    .mx-content-imp {
        margin-left: 10em;
        margin-right: 10em;
    }
}